<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
      <h1>Калькулятор польской нотации</h1>
      {% from "_formhelpers.html" import render_field %}
        <form action="" method="post" name="data">
          {{form.hidden_tag()}}
           </p>Введите выражение:
          <p>{{render_field(form.equation_field)}}</p>
          <p><input type="submit" value="Вычислить"></p>
          </p>Результат:
          <p>{{render_field(form.result_field)}}</p>
          </p>Ошибки:
          <p>{{render_field(form.errors_field)}}</p>
          <dt>Время выполнения: {{execution_time }} секунд.
        </form>
  </body>
</html>